AWS_ACCESS_KEY_ID=
AWS_REGION=
AWS_REKOGNITION_COLLECTION_ID=
AWS_SECRET_ACCESS_KEY=
AZURE_FACE_API_KEY=
AZURE_FACE_ENDPOINT=
DATABASE_URL=
DOCTOR_PASSWORD=
FRONTEND_ORIGIN=
JWT_SECRET=
PATIENT_DEMO_PASSWORD=
SQL_ADMIN_PASSWORD=
SQL_ADMIN_USER=
SQL_DB_NAME=
SQL_HOST=
SQL_PASSWORD=
SQL_USER=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=